<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- {% load static %} -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static "/global/main.css"%}"> <!-- {% static "/global/main.css"%} -->
    <script src="{% static "/global/main.js"%}"></script> <!-- {% static "/global/main.js"%} -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Error 404</title>
</head>


<body>
    <div id="sidebar" class="sidebar">

        <a class="closebtn" onclick="closeSidebar()">&times;</a>
        <a href="/link_in_bio">Links</a>

    </div>

    <div id="main">
        <div class="w3-display-container">
            <div class="w3-display-top, w3-display-container, header">
                <h1 class="w3-hind-guntur" style="text-align: center; color: #69F0AE;">404</h1>
                <div class="w3-display-left" style="padding-bottom: .18em">
                    <img class="menubtn" id="menubtn" onclick="openSidebar()" src=https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/list.svg width="32px" height="32px" alt="sidebar">
                </div>
            </div>
            <div class="content">
            <h6 class="w3-hind-guntur" style="text-align: center; color: #69F0AE;">That's an error.</h6>
            </div>
        </div>
    </div>
</body></html>
