{% extends 'global/html/base.html' %}
{% load static %}

{% block custom_scripts %}
<link rel="stylesheet" href="{% static "/misc/link_in_bio/custom.css"%}">
{% endblock custom_scripts %}

{% block title %}Links{% endblock title %}

{% block header %}Links{% endblock header %}

{% block content %}
<div id='space' style='padding: 1em'>
    {% for link in links %}
    <div id="space">
        <div class="w3-container">
            <div class="w3-panel" style="padding: 0.06em">
                <button class="block" type="button" title="{{link.title}}" onclick="window.open('{{link.dest}}')">
                    <img src="../{{link.image}}" alt="{{link.alt}}" style="max-height: 7em">
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}