/* body stuff */
body {
    min-height: 100vh;
    position: relative;
    background-image: url("dark-texture.png");
    background-repeat: repeat;
}

/* menu stuff */

/* this class is the default button */
.sidebarbtn {
    position: absolute;
    margin-top: .3em;
    top: 0;
    opacity: 1;
    transition: 0.5s;
}

/* switch above with this one on click */
.hidden {
    position: absolute;
    margin-top: .3em;
    top: 0;
    opacity: 1;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/* the sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("dark-texture.png");
    background-repeat: repeat;
    overflow-x: hidden;
    padding-top: 3.75em;
    transition: 0.5s;
}

/* the sidebar links */
.sidebar a {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1.56em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* the close button in sidebar */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: .56em;
    font-size: 2.25em;
    margin-left: 4.13em;
}


/* contains title and sidebarbtn */
.header {
    height: 3em;
}

/* the content from each specifc html (not base) */
.content {
    position: relative;
}

/* the actual body */
#main {
    transition: margin-left .5s;
    padding-top: .8em;
    padding-left: 1.25em;
}


/* footer stuff */

footer {
    height: 17em;
    margin: auto;
}

.grid-container {
    margin: inherit;
    width: 97%;
    border-radius: 2em;
    padding-top: 1em;
    border-width:0;
    background-color:rgba(20, 20, 20, 0.4);
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 22em 22em 22em;
    grid-template-rows: 4em 3em 3em 3em 5em;
    gap: 0px 0px;
    grid-template-areas:
      "about-me learn-to-code contact-me"
      "my-cv python my-number"
      "site-map html email-me"
      "tech-stack demos null"
      "small-things small-things small-things";
    }
    a:link {
        text-decoration: none;
    }
      
    a:visited {
        text-decoration: none;
    }
      
    a:hover {
        text-decoration: underline;
    }
      
    a:active {
        text-decoration: underline;
    }
  
    .about-me { 
        grid-area: about-me;
        align-self: center; 
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .learn-to-code { 
        grid-area: learn-to-code;
        align-self: center; 
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .contact-me { 
        grid-area: contact-me;
        align-self: center; 
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .my-cv { 
        grid-area: my-cv;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .site-map { 
        grid-area: site-map;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .tech-stack { 
        grid-area: tech-stack;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .python { 
        grid-area: python;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .demos { 
        grid-area: demos;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .html { 
        grid-area: html;
        align-self: center;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .my-number { 
        grid-area: my-number;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .email-me { 
        grid-area: email-me;
        align-self: center;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
  
    .null { 
        grid-area: null;
    }
  
    .small-things { 
        grid-area: small-things;
        align-self: center; 
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 22em 22em 22em;
        grid-template-rows: .75em 4em;
        gap: 0px 0px;
        grid-template-areas: 
        "null2 null2 null2"
        "made-with-love made-with-love made-with-love";
      grid-area: small-things;
    }
    .null2 { 
        grid-area: null2; 
    }
    .made-with-love { 
        grid-area: made-with-love; 
        align-self: center;
        font-size: .75em;
        font-family: 'Courier New', Courier, monospace;
        color: #69F0AE;
    }
    
  






/* for smol screens */
@media screen and (max-height: 600px) {
    .sidebar {
        padding-top: 0.94em;
    }

    .sidebar a {
        font-size: 1.13em;
    }
}