<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/link_in_bio/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Links</title>
  </head>

  <body>
    <div class="w3-display-container" id="Title_Block">
      <h1 class="w3-display-middle, w3-hind-guntur" style="text-align: center; color: #69F0AE;">Links</h1>
    </div>
        <div class="w3 w3-container">
        <div class="w3-panel" style="padding: 1px">
        <button class="block" type="button" title="Black Lives Matter" onclick="window.open('blacklivesmatter.com')">
          <img src="../static/link_in_bio/blm_logo.png" alt="github logo" style="max-height: 7em">
        </button>
      </div>
    </div>
      <div class="w3-container">
    <div class="w3-panel" style="padding: 1px">
      <button class="block" type="button" title="My GitHub" onclick="window.open('https://github.com/AllHailTheSheep')">
        <img src="../static/link_in_bio/github_logo.png" alt="github logo" style="max-height: 7em">
      </button>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-panel" style="padding: 1px">
        <button class="block" type="button" title="My Twitter" onclick="window.open('https://twitter.com/BenFasick')">
          <img src="../static/link_in_bio/twitter_logo.png" alt="twitter logo" style="max-height: 5em">
        </button>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-panel" style="padding: 1px">
        <button class="block" type="button" title="My Instagram" onclick="window.open('https://instagram.com/BenFasick')">
          <img src="../static/link_in_bio/insta_logo.png" alt="instagram logo" style="max-height: 6em">
        </button>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-panel" style="padding: 1px">
        <button class="block" type="button" title="The Code Lab" onclick="window.open('https://discord.gg/EGgRkwj')">
          <img src="../static/link_in_bio/discord_logo.png" alt="discord logo" style="max-height: 7em">
        </button>
      </div>
    </div>
  </body>
</html>
