.w3-hind-guntur {
  font-family: 'Hind Guntur', sans-serif;
}

.w3-roboto {
  font-family: 'Roboto', sans-serif;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: center;
}

.block:hover,
.block:active,
.block:focus {
  opacity: 0.5;
  transition-duration: 1s;
    transition: ease-out;
  transform: translateX(-3em);
}

body {
  background-color: #263238;
}

